adium-theme-ubuntu==0.3.4
aniso8601==1.1.0
attrs==15.2.0
Babel==1.3
beautifulsoup4==4.4.1
blinker==1.3
characteristic==14.3.0
chardet==2.3.0
click==6.6
cloudinary==1.0.19
command-not-found==0.3
cryptography==1.2.3
debtags==2.0
debtcollector==1.3.0
defer==1.0.6
dirspec==13.10
docutils==0.12
duplicity==0.7.6
ecdsa==0.13
enum34==1.1.2
eventlet==0.18.4
Flask==0.11.1
Flask-Login==0.2.11
Flask-MongoAlchemy==0.7.0
flask-mongoengine==0.7.1
Flask-RESTful==0.3.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.11
funcsigs==0.4
greenlet==0.4.9
html5lib==0.999
httplib2==0.9.1
idna==2.0
iniparse==0.4
ipaddress==1.0.16
itsdangerous==0.24
Jinja2==2.8
lockfile==0.12.2
lxml==3.5.0
MarkupSafe==0.23
MongoAlchemy==0.19
mongoengine==0.8.7
msgpack-python==0.4.6
MyghtyUtils==0.52
ndg-httpsclient==0.4.0
netaddr==0.7.18
numpy==1.11.0
oauthlib==1.0.3
oneconf==0.3.9
oslo.config==3.9.0
PAM==0.4.2
paramiko==1.16.0
pbr==1.8.0
pexpect==4.0.1
Pillow==3.1.2
piston-mini-client==0.7.5
psycopg2==2.5.4
ptyprocess==0.5
pyasn1==0.1.9
pyasn1-modules==0.0.7
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0
pygame===1.9.1release
Pygments==2.1
pygobject==3.20.0
pyhsm===1.0.4l
PyJWT==1.3.0
pyliblzma==0.5.3
pymongo==2.8
pyOpenSSL==0.15.1
pyserial==3.0.1
pysqlite==1.0.1
python-apt==1.1.0b1
python-daemon===UNKNOWN
python-dateutil==2.5.3
python-debian==0.1.27
python-yubico==1.3.1
pytz==2014.10
pyudev==0.16.1
pyusb==1.0.0b2
pyxdg==0.25
reportlab==3.3.0
repoze.lru==0.6
requests==2.11.1
roman==2.0.0
Routes==2.2
rpm-python==4.12.0.1
ryu==3.30
service-identity==16.0.0
six==1.10.0
software-center-aptd-plugins==0.0.0
SQLAlchemy==1.0.11
stevedore==1.12.0
Twisted==16.0.0
ubuntuone-client-data==14.4
unity-lens-photos==1.0
urlgrabber==3.9.1
urllib3==1.13.1
virtualenv==15.0.3
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
WebOb==1.5.1
Werkzeug==0.11.11
wrapt==1.8.0
WTForms==2.0.2
yubikey-neo-manager==1.4.0
yubikey-piv-manager==1.0.2
yum-metadata-parser==1.1.4
zope.interface==4.1.3
